SERVER_PORT=8085
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/agrigrade_ai?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
JWT_SECRET=${JWT_SECRET}
GOOGLE_CLIENT_ID=
